@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background:linear-gradient(90deg,rgba(111,45,168,0.65), rgba(224,176,255,0.4),rgba(111,45,168,0.65));
    /* background: rgba(224,176,255,0.4); */
}

h1 {
    font-weight: 800;
    padding-top: 2rem;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(53,56,57,0.6);
    -webkit-text-stroke: 0.075rem #8b008b;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min(225px, 100%), 1fr));
    gap: 1.5rem;
    padding: 2rem 5rem;
}

figure {
    height: 375px;
    position: relative;
    overflow: hidden;
    outline: 1px solid #9966cc;
    cursor: pointer;
    object-fit: cover;
    border-radius: 0.325rem;
    background: rgba(224,255,255,0.4);
    box-shadow: 2px 2px 5px 5px rgba(72,61,139, 0.65);
}

.gallery__img {
    width: 100%;
    height: 80%;
}

.gallery__link {
    padding: 0 0.225rem;
    font-size: 0.575rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 0.375rem;
    border: 1px solid #9966cc;
    background-color: #cec8ef;
    box-shadow: 2px 2px 3px rgba(216,191,216, 0.9);
}

.gallery__link:hover {
    color: #b2ffff;
    border-color: #00ffef;
    background-color: #00b7eb;
    box-shadow: 2px 2px 4px rgba(119,136,153, 0.9);
}

 figure::after {

    content: "";
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b2ffff ;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 1s;
    background-color: rgba(140,146,172,0.3);
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.9);
}

figure:hover::after {
    transform: translateY(0%);
}

figure:nth-child(1)::after,
figure:nth-child(2)::after,
figure:nth-child(3)::after,
figure:nth-child(4)::after,
figure:nth-child(5)::after,
figure:nth-child(6)::after {
    content: "Kirova street, queit yard";
}

figure:nth-child(7)::after {
    content: "Mayskaya street";
}

figure:nth-child(8)::after {
    content: "'Maksi' mall, Upa's embankment";
}

figure:nth-child(9)::after,
figure:nth-child(10)::after,
figure:nth-child(11)::after,
figure:nth-child(12)::after,
figure:nth-child(13)::after,
figure:nth-child(14)::after,
figure:nth-child(15)::after,
figure:nth-child(16)::after,
figure:nth-child(17)::after,
figure:nth-child(18)::after,
figure:nth-child(19)::after,
figure:nth-child(20)::after,
figure:nth-child(21)::after,
figure:nth-child(22)::after,
figure:nth-child(23)::after,
figure:nth-child(24)::after,
figure:nth-child(25)::after,
figure:nth-child(26)::after,
figure:nth-child(27)::after,
figure:nth-child(28)::after,
figure:nth-child(29)::after,
figure:nth-child(30)::after,
figure:nth-child(31)::after,
figure:nth-child(32)::after,
figure:nth-child(33)::after {
    content: "Platonovsky Park";
}

figure:nth-child(34)::after,
figure:nth-child(35)::after,
figure:nth-child(36)::after {
    content: "Shcheglovsky creek";
}

figure:nth-child(37)::after,
figure:nth-child(38)::after,
figure:nth-child(39)::after,
figure:nth-child(40)::after,
figure:nth-child(41)::after,
figure:nth-child(42)::after,
figure:nth-child(43)::after,
figure:nth-child(44)::after,
figure:nth-child(45)::after,
figure:nth-child(46)::after,
figure:nth-child(47)::after,
figure:nth-child(48)::after,
figure:nth-child(49)::after,
figure:nth-child(50)::after,
figure:nth-child(51)::after,
figure:nth-child(52)::after,
figure:nth-child(53)::after,
figure:nth-child(54)::after,
figure:nth-child(55)::after,
figure:nth-child(56)::after,
figure:nth-child(57)::after,
figure:nth-child(58)::after,
figure:nth-child(59)::after,
figure:nth-child(60)::after,
figure:nth-child(61)::after,
figure:nth-child(62)::after,
figure:nth-child(63)::after,
figure:nth-child(64)::after,
figure:nth-child(65)::after,
figure:nth-child(66)::after {
    content: "Kremlin, outside and inside the fortress";
}

figure:nth-child(67)::after{
    content: "Khvorostukhina street";
}

figure:nth-child(68)::after{
    content: "Novomedvensky proezd";
}

figure:nth-child(69)::after{
    content: "Shukhova street";
}

figure:nth-child(70)::after{
    content: "Kombaynovy Lane";
}

figure:nth-child(71)::after,
figure:nth-child(72)::after,
figure:nth-child(73)::after,
figure:nth-child(74)::after,
figure:nth-child(75)::after {
    content: "Prospekt Lenina, area of Platonovsky Park";
}

figure:nth-child(76)::after{
    content: "Beginning of Lozhevaya street";
}

figure:nth-child(77)::after,
figure:nth-child(78)::after{
    content: "Metallurgov street";
}

figure:nth-child(79)::after,
figure:nth-child(80)::after,
figure:nth-child(81)::after{
    content: "Metallistov street, historical center";
}

figure:nth-child(82)::after,
figure:nth-child(83)::after{
    content: "Lenin sqaure";
}

figure:nth-child(84)::after,
figure:nth-child(85)::after,
figure:nth-child(86)::after,
figure:nth-child(87)::after,
figure:nth-child(88)::after,
figure:nth-child(89)::after{
    content: "View of Khvorostukhin street";
}

figure:nth-child(90)::after {
    content: "Prospekt Lenina, area of Platonovsky Park";
}

figure:nth-child(91)::after,
figure:nth-child(92)::after,
figure:nth-child(93)::after,
figure:nth-child(94)::after,
figure:nth-child(95)::after,
figure:nth-child(96)::after,
figure:nth-child(97)::after {
    content: "Upa River";
}

figure:nth-child(98)::after {
    content: "Metallurg Stadion";
}

figure:nth-child(99)::after {
    content: "The Baltic Sea";
}

figcaption {
    padding: 0.25rem .4rem 0 .4rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 0.7rem;
    position: relative;
    line-height: 0.9rem;
}

.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7); 
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image span:hover {
    color: #ff6666;
    text-shadow: 3px 3px 4px rgba(204, 0, 0, 0.6);
}

 .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #9966cc;
    border-radius: 5px;
    width: 460px;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(245,245,245,0.3);
}

@media (max-width: 768px) {
    .gallery {
        padding: 2rem 5rem;
    }
    /* .gallery__link {
        padding: 0 0.175rem;
        font-size: 0.475rem;
    } */
    /* figcaption {
        font-size: 0.65rem;
    } */
    .popup-image img {
        width: 350px;
    }
    .popup-image span {
        font-size: 25px; 
    }
}